h1 {
    color: red;
    background-color: yellow;
}
div {
    color: dodgerblue;
}
p {
    background: plum;
    color: yellow;
<<<<<<< HEAD

=======
>>>>>>> 4ed53b0ead9272fd1f166bab6838cdab024c2174
}